*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

body{
    background: rgb(1, 16, 22);
    /*
    background-image: linear-gradient(135deg,#050574,#070818,#061552,#08074d,#1b065f,
    #0d0436,#070707);
    */
    /*
    background-image: linear-gradient(135deg,#f2f2f7,#a8c8ec,#4e99e0,#83a4c9,#719cb9,
    #3a72bb,#88a0c4);*/
    background-size: 500%;
    animation:animafond 10s infinite ;
}
h1,h3{

    font-family: 'Rowdies', cursive;
}

@keyframes animafond{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

header{
    
    display: flex;
    padding: 25px;
    margin-bottom: 40px;
    background-image: url(../img/portadab.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    box-shadow: 3px 10px 10px rgb(68, 102, 141);
}
.div-header{

justify-content: center;
}
.logo{

    width: 80px;
    margin-left: 0px;
    animation-name: efectologo;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}

.letraLogo{
    width: 50px; 
    margin-left: 12px;

}

.pool{
text-align: center;
color: white;
font-size: 60px;

}
@keyframes efectologo{
    from{
        transform: perspective(400px) rotatey(0deg);
    }
    to{
        transform: perspective(400px) rotatey(360deg);
    }

}

.heading{

    color: rgb(255, 255, 255);
    font-size: 45px;
    text-align: center;
    padding: 10px;

}


video{
    width: 800px;

}


.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:15px;
    align-items: flex-start;
    padding: 5px 5%;


}

.container .main-video{
    background: rgb(178, 190, 202);
 
    background-size: cover;
    border-radius: 5px;
    padding: 10px;
   
}
.container .main-video video{
    width: 100%;
    border-radius: 5px;

}

.container .main-video .title{
    color: rgb(13, 68, 94);
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

}

.container .video-list{
    background: rgb(178, 190, 202);
   
    background-size: cover;
    border-radius: 5px;
    height: 100%;
    overflow-y: scroll;
    
}

.container .video-list h1{
    color: rgb(13, 68, 94);
    margin-top: 10px;
    text-align: center;

}
.container .video-list::-webkit-scrollbar{
    width: 7px;


}

.container .video-list::-webkit-scrollbar-track{
    background: red;
    border-radius: 50px;


}

.container .video-list::-webkit-scrollbar-track{
    background: rgb(0, 0, 0);
    border-radius: 50px;


}

.container .video-list .vid video{
    width: 100px;
    border-radius: 5px;



}

.container .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgb(252, 252, 252);
    border: 5px;
    margin: 20px;
    padding: 10px;
    border:none;
    cursor: pointer;
    box-shadow: 3px 10px 10px rgb(68, 102, 141);
}

.container .video-list .vid:hover{
    background: rgb(96, 137, 170);


}

.container .video-list .vid.active{
    background: rgb(70, 87, 100);


}

.container .video-list .vid.active .title{
    color: rgb(255, 255, 255);


}

.container .video-list .vid .title{
    color: rgb(32, 49, 49);
    font-size: 17px;


}
footer{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}
/*responsive*/

@media (max-width:991px){
    .container{
       
        grid-template-columns: 1.5fr 1fr;
        padding: 10px;
    
    
    }

}

@media (max-width:760px){
    .container{
       
        grid-template-columns: 1fr;
        
    
    
    }

}
